@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply bg-blue-500 text-white;
}

.menu__title {
  @apply text-3xl font-bold tracking-tight text-white sm:text-4xl;
}

.text__sub-title {
  @apply mt-2 text-lg text-black;
}

.text_small_heading {
  @apply mt-6 text-lg leading-8 text-gray-100;
}

.button--match--primary {
  @apply bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300;
}
.title {
  @apply text-4xl  font-bold;
}

.underline-animation {
  position: relative;
}

.card {
  @apply bg-white shadow-md rounded-lg p-6;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.yin-yang {
  animation: rotate 2s linear infinite;
  transform-origin: center;
}
.label__text {
  @apply block text-gray-700 font-semibold mb-2;
}
.button__primary {
  @apply w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition duration-300;
}

.input {
  @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}
