@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply bg-blue-500 text-white;
}

.text__title {
  @apply text-base font-semibold leading-6 text-gray-900;
}

.title {
  @apply text-2xl  font-bold;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.yin-yang {
  animation: rotate 2s linear infinite;
  transform-origin: center;
}
.label__text {
  @apply block text-gray-700 font-semibold mb-2;
}
.button__primary {
  @apply w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition duration-300;
}

.input {
  @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}
